*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.case-study-page {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  padding-left: 60px;

  .tags {
    color: #b3615d;
    opacity: 0.6;
    display: block;
    margin-left: -20px;
    font-size: 18px;
    line-height: 16px;
    font-family: 'La Belle Aurore';
    &.top-tags {
      margin-top: 15px;
    }
    .bottom-tag-html,
    .top-tag-html {
      margin-left: -40px;
    }
    .body-tag {
      margin-left: -20px;
    }
  }

  .container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }

  .skd-studios-page {
    h1 {
      font-size: 53px;
      font-family: 'Georgia';
      color: #b3615d;
      font-weight: 400;
      margin-top: 30px;
      position: relative;
      margin-bottom: 40px;
      left: 10px;

      &::before {
        content: '<h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        position: absolute;
        margin-top: -10px;
        left: -10px;
        opacity: 0.6;
        line-height: 18px;
      }

      &::after {
        content: '</h1>';
        font-family: 'La Belle Aurore';
        font-size: 18px;
        line-height: 18px;
        position: absolute;
        left: -30px;
        bottom: -20px;
        margin-left: 20px;
        opacity: 0.6;
      }
    }
    p {
      font-size: 16px;
      color: #1c3f3a;
      font-family: 'Georgia';
      font-weight: 300;
      // min-width: fit-content;
      animation: pulse 1s;

      &:nth-of-type(1) {
        animation-delay: 1.1s;
      }
      &:nth-of-type(2) {
        animation-delay: 1.2s;
      }
      &:nth-of-type(3) {
        animation-delay: 1.3s;
      }
    }
    .details-row {
      // max-width: 1200px;
      // width: 100%;
      // margin: auto;
      box-sizing: border-box;
      padding: 0 8.58333% 0;

      .details-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 7.2rem;
        list-style: none;
        padding: 0px;

        li {
          list-style-type: none;
          margin-right: 6.4rem;
          animation: fadeIn 1s 1.1s backwards;
          &:first-child {
            animation-delay: 1.3s;
          }
          &:nth-child(2) {
            animation-delay: 1.5s;
          }
          &:nth-child(3) {
            animation-delay: 1.7s;
          }
          .details-title {
            font-size: 2.4rem;
            color: #b3615d;
            letter-spacing: 0.2em;
            line-height: 1.2;
            // font-family: 'futura_de';
            margin-bottom: 0.8rem;
            word-wrap: break-word;
            white-space: normal;
          }
        }
      }
    }
    .work-img-1 {
      animation: fadeIn 1s 1.9s backwards;
      text-align: center;
      // max-width: 100%;
      img {
        width: 100%;
      }
    }

    .work-text-area {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-top: 14.4rem;

      .text-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding-right: 10%;

        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        max-width: 1200px;
        width: 100%;
        margin: auto;

        .title {
          padding: 0 0 0 20px;
          font-size: 4rem;
          color: #1c3f3a;
          letter-spacing: 0.2em;
          margin-right: 3.2rem;
          font-weight: 300;
        }
        .text {
          width: 65.5%;
        }
      }
    }

    .big-image {
      width: 100%;
      height: 116rem;
      background: url(../../assets/images/skd-site-frames.jpg) no-repeat center;
      background-size: cover;
      margin-top: 14.4rem;
    }
    .cta {
      text-align: center;
      margin: 14.4rem auto;

      p {
        font-size: 4rem;
        color: #b3615d;
        letter-spacing: 2px;
      }
      .flat-button {
        color: #efedec;
        background: #b3615d;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: 'Georgia';
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #b3615d;
        margin-top: 25px;
        white-space: nowrap;
        transition: color 0.2s;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        &:hover {
          color: #1c3f3a;
        }
      }
    }
    .text-animate-hover {
      &:hover {
        color: #fff;
      }
    }
  }

  @media (max-width: 950px) {
    padding: 60px 0 0 0;

    .container {
      padding: 0 15px;
    }

    .tags {
      .top-tag-html,
      .bottom-tag-html {
        margin-left: 0px;
      }
      .body-tag {
        margin-left: 20px;
      }
    }
    .skd-studios-page {
      .details-row {
        padding: 0px 10%;
        .details-text {
          display: block;
          li {
            margin: 0px;
          }
        }
      }
      .work-text-area {
        display: block;
        margin-top: 5rem;
        padding: 0 10%;
        .text-wrap {
          display: block;
          padding: 0px;
          .title {
            text-align: center;
            padding: 0px;
            margin: 0 0 3.5rem 0;
            font-size: 2.4rem;
          }
          .text {
            width: 100%;
          }
        }
      }

      .big-image {
        height: 55rem;
        margin-top: 5rem;
      }
    }
  }
}
