.nav-bar {
  background: #1c3f3a;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;

  .logo {
    display: block;
    padding: 8px 0;
    img {
      display: block;
      margin: 8px auto;
      width: 50px;
      height: auto;

      &.sub-logo {
        width: 50px;
      }
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: #efedec;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #efedec;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }
      &:after {
        content: '';
        top: 0;
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &::after {
          content: 'HOME';
        }
      }
    }
    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }
    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }
    a.active {
      // color: #B3615D;
      svg {
        color: #efedec;
      }
    }
  }

  ul {
    position: absolute;
    bottom: 20px;
    width: 100%;
    display: block;
    padding: 0;
    list-style: none;
    text-align: center;
    margin: 0;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;

        &:hover svg {
          color: #b3615d;
        }
      }
    }
  }
  @media (max-width: 950px) {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 0;
    padding: 0 15px;

    nav {
      display: flex;
      // align-items: center;
      position: relative;
      height: auto;
      top: 0;
      margin-top: 0;
      width: auto;

      a {
        margin: 0px 30px;
        &:first-child::after {
          left: -7px;
        }
        &.about-link:after {
          left: -11px;
        }
        &.contact-link:after {
          left: -17px;
        }
      }
    }

    ul {
      display: none;
    }
  }
}
